@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}
section {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}
h2 {
    color: #333;
    text-align: center;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.projeto {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#contato{
    max-width: 900px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
input, textarea {
    width: 98%;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}
footer{
    text-align: center;
}